

$spaceMap: (
  xxxs: 4px,
  xxs: 8px,
  xs: 12px,
  s: 16px,
  m: 24px,
  l: 32px,
  xl: 48px,
  xxl: 72px,
  xxxl: 96px,
  xxxxl: 120px,
);

$textSizeMap: (
  xxs: 8px,
  xs: 12px,
  s: 16px,
  m: 24px,
  l: 32px,
  xl: 48px,
  xxl: 72px,
);

$textWeightsMap: (
  x-light: 400,
  light: 400,
  bold: 700,
  x-bold: 900,
);

$colorMap: (
  red: (
    base: #cc3656,
    xx-light: #f597ac,
    x-light: #e06a84,
    light: #d84f6d,
    dark: #9b344a,
    x-dark: #702031,
    xx-dark: #571120,
  ),
  green: (
    base: #12721f,
    xx-light: #4bdd5f,
    x-light: #33b344,
    light: #239232,
    dark: #13521b,
    x-dark: #13441a,
    xx-dark: #0c250f,
  ),
  blue: (
    base: #3460d8,
    xx-light: #65baf3,
    x-light: #47aafc,
    light: #2f60e7,
    dark: #204097,
    x-dark: #1f3a86,
    xx-dark: #183179,
  ),
  gray: (
    base: #cfcfcf,
    xx-light: #f5f5f5,
    x-light: #ecebeb,
    light: #e7e5e5,
    dark: #a7a6a6,
    x-dark: #7c7c7c,
    xx-dark: #474747,
  )
);

$tokens: (
  color: $colorMap,
  space: $spaceMap,
  textSize: $textSizeMap,
  textWeight: $textWeightsMap,
);
